body {
  background-color: #f8f8f8;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45;
  color: #626262;
  font-family: Helvetica, Arial, serif;
}
.card {
  margin-bottom: 2.2rem;
  border: none;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
}
.card .card-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: none;
  padding: 1.5rem 1.5rem 0;
  background-color: transparent;
  font-weight: bold;
}
.card .card-body {
  flex: 1 1 auto;
  padding: 1.5rem;
}
.card .card-body td,
.card .card-body th {
  font-size: 11px;
  text-align: center;
}
