@import 'elements';

.ui-button {
    &.btn-primary {
        border-color: #4839eb !important;
        background-color: #7367f0 !important;
        color: #fff;
        border: none;

        &:hover {
            border-color: #5e50ee !important;
            color: #fff !important;
            .box-shadow(0 8px 25px -8px #7367f0);
        }
    }
}